@page "/GoogleUserProfile"
@using Blazored.LocalStorage;
@using OAuth20Demo.Shared;

@inject HttpClient httpClient
@inject ILocalStorageService localStorageService
@inject NavigationManager uriHelper

<div class="d-flex flex-column">
    <div >
        @UserInfo?.name
    </div>
    <div >
        @UserInfo?.email
    </div>
    <div >
        <img src="@UserInfo?.picture" />
    </div>
    <div class="mt-2">
        <button class="btn btn-warning" @onclick="LogoutAsync">登出</button>
    </div>
</div>

@code {

    private GoogleUserInfo? UserInfo { get; set; }

    protected override async Task OnInitializedAsync()
    {
        UserInfo = await localStorageService.GetItemAsync<GoogleUserInfo>("GoogleToken");

    }

    private async Task LogoutAsync()
    {
        var dic = new Dictionary<string, string>
        {
            { "accessToken",UserInfo?.access_token??""}
        };

        var response = await httpClient.PostAsync("Google/Logout", new FormUrlEncodedContent(dic));

        if (response.IsSuccessStatusCode)
        {
            await localStorageService.RemoveItemAsync("GoogleToken");
            uriHelper.NavigateTo("", true);
        }
    }
}
