@page "/"
@using Blazored.LocalStorage;

@inject HttpClient httpClient
@inject ILocalStorageService LocalStorageService

<a href="@LineLoginUrl" class="btn btn-success">Line Login</a>



@code {
    private string LineLoginUrl => $"https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id={LineClientId}&redirect_uri={LineCallBack}&state={State}&scope=profile%20openid%20email";
    private string? LineClientId { get; set; }
    private string? LineCallBack { get; set; }
    private string? State { get; set; }


    protected override async Task OnInitializedAsync()
    {
        var lineClientIdResponse = await httpClient.GetAsync("/OAuth20Params/GetLineClientId");

        if (lineClientIdResponse.IsSuccessStatusCode)
            LineClientId = await lineClientIdResponse.Content.ReadAsStringAsync();
        var lineCallBackResponse = await httpClient.GetAsync("/OAuth20Params/GetLineCallBack");
        LineCallBack = await lineCallBackResponse.Content.ReadAsStringAsync();
        SetState();
    }

    private void SetState()
    {
        State = Guid.NewGuid().ToString().Replace("-", "");
        LocalStorageService.SetItemAsStringAsync("LineState", State);
    }

}